:root {
    /* Light theme (default) */
    --background-color: #ffffff;
    --text-color: #000000;
    --primary-accent-color: #525252;
    --secondary-background-color: #f0f0f0;
    /* Add more variables as needed */
  }
  
  [data-theme='dark'] {
    --background-color: rgb(37, 37, 37);
    --text-color: #ededed;
    --primary-accent-color: #949494;
    --secondary-background-color: rgba(65, 65, 65, 0.7);
    /* Add more variables as needed */
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: all 0.3s ease;
  }
  